body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

h4 {
  margin: 0;
}


.App {
  text-align: center;
  background-color: #455a64;
  min-height: 100vh;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 30vh;
}

.header-logo {
  margin-top: 20px
}

@media (min-width: 1024px) {
  .App-header {
    flex-direction: row;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: space-around;
  }
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.inline-block {
  display: inline-block;
}

.flex-button {
  position: fixed;
  top: 30%;
  left: 0;
  font-weight: 700;
  font-size: 18px;
  display: none;
}

.flex-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.flex-area>p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 1024px) {
  .flex-area {
    flex-direction: row;
    margin: 50px
  }

  .flex-button {
    display: block;
  }

  .flex-area>p {
    margin-left: 2rem;
    margin-right: 2rem;
  }

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}